CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_R16RUBUS=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/rubus/r16rubus/r16dlrubus.cfg,MX6DL"
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
CONFIG_SPI_FLASH=y
